<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="./styles.css">
     <title>Vue</title>
     <style>
          .box {
               background-color: blue;
               height: 50px;
               width: 50px;
          }

          .box.two {
               background-color: green;
          }
          .box.three{
               background-color: red;
          }
          [v-cloak]{
               display: none;
          }
     </style>
</head>

<body>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

     <div id="app" v-cloak>
          {{ greeting }}
          <input v-model="greeting" type="text" />
          <div v-if="isVisible" class="box"> </div>
          <div v-else-if="isVisible2" class="box two"></div>
          <div v-else class="box three"></div>
          <button v-on:click="isVisible=true">Change Color</button>
          <button @click="isVisible=!isVisible">Toggle Color</button>
     </div>

     </div>

     <script>
          //  const { createApp } = Vue;

          Vue.createApp({
               data() {
                    return {
                         greeting: "Hello !",
                         isVisible: false,
                         isVisible2:true,
                    };
               },
          }).mount("#app");
     </script>
</body>

</html>